*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: rgb(247, 238, 238);
}




.topo {
    width: 100%;
    height: 90px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
}
.topo h1 {
    font-size: 30px;
    color: black;
    margin-left: 800px;
    margin-top: 0px;
    position: fixed;
    font-family: Arial, sans-serif;
}

.topo p {
    color: #59df30;
    position: fixed;
    margin-left: 890px;
    margin-top: 10px;
    font-family:  Arial, sans-serif;  
}

.topo h1, .topo p{
    background-color: #fff;
}

.main{
    background-color: rgb(247, 238, 238);
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 250px 30px 250px;
    padding: 100px;
    
}

.container{
    max-width:1024px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:40px;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 340px;

}

.container-info {
    padding: 0px 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

.container-info h3, .container-info small{
    width: 100%;
}


.container-info h3{
    font-size: 18px;
}
.container-info p{
    text-align: left;
}


.container-imagem img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.container-imagem{
    height: 200px;
}

.container-preco {
    padding-right: 200px;
    border-top: 1px solid #c9c4c4;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}


.container-preco img{
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    margin-right: -190px;

}

.container-preco span{
    margin-right: 200px;
}


.card-produto{
    border-radius: 4px;
    flex:1 1 300px;
    width: 350px;
    box-shadow: 0px 2px 2px 2px  gray;
    
}
